save-sync/spike-sslc-https/build/
save-sync/spike-sslc-https/*.3dsx
save-sync/spike-sslc-https/*.elf
save-sync/spike-sslc-https/*.smdh
save-sync/spike-sslc-https/*.map

save-sync/spike-oauth-device-flow/build/
save-sync/spike-oauth-device-flow/*.3dsx
save-sync/spike-oauth-device-flow/*.elf
save-sync/spike-oauth-device-flow/*.smdh
save-sync/spike-oauth-device-flow/*.map
save-sync/spike-oauth-device-flow/include/config.h

save-sync/spike-drive-api/build/
save-sync/spike-drive-api/*.3dsx
save-sync/spike-drive-api/*.elf
save-sync/spike-drive-api/*.smdh
save-sync/spike-drive-api/*.map
save-sync/spike-drive-api/include/config.h

save-sync/checkpoint/3ds/include/DriveConfig.hpp
save-sync/checkpoint/3ds/include/DriveServiceAccount.hpp

rom-sync/build/
rom-sync/*.3dsx
rom-sync/*.elf
rom-sync/*.smdh
rom-sync/*.map
rom-sync/include/DriveServiceAccount.h
